In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

# Series

In [4]:
obj = pd.Series([4, 7, -5, 3])
obj.values
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
obj2 = pd.Series([4, 7, -5, 3], index = ['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [6]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [8]:
obj2['d'] = 6

In [9]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [10]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [11]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [12]:
'b' in obj2

True

# Series from a dictionary

In [13]:
web = {'Asrdvark': "an animal",
      'Banana': "A fruit", 
      "Cyan": "A Color"}

In [14]:
pd.Series(web)

Asrdvark    an animal
Banana        A fruit
Cyan          A Color
dtype: object

In [15]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [16]:
obj3 = pd.Series(sdata)

In [17]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [19]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index = states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [20]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [21]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [22]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [23]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [24]:
obj4.name = 'population'

In [25]:
obj4.index.name = 'State'

In [26]:
obj4

State
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

# Type Conversions

In [27]:
pd.Series(range(5))

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [29]:
pd.Series(range(5)).astype('float')

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [30]:
pd.Series(range(5)).astype('bool')

0    False
1     True
2     True
3     True
4     True
dtype: bool

# Intro to Attributes

In [31]:
student = ["Smart", "Brilliant", "Obidient", "Humble", "Punctual"]
s = pd.Series(student)

In [32]:
s.values

array(['Smart', 'Brilliant', 'Obidient', 'Humble', 'Punctual'],
      dtype=object)

In [33]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [34]:
s.dtype

dtype('O')

# Intro to Methods

In [35]:
prices = [2, 99, 4.45, 1.36]
s = pd.Series(prices)
print(s)

0     2.00
1    99.00
2     4.45
3     1.36
dtype: float64

In [36]:
s.sum()

106.81

In [37]:
s.max()

99.0

In [38]:
s.argmax()

1

In [39]:
s.product()

1198.296

# Parameters and arguments

In [40]:
fruits = ['Apple', 'Orange', 'Plum', 'Grape', 'Blueberry']
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
pd.Series(fruits)

0        Apple
1       Orange
2         Plum
3        Grape
4    Blueberry
dtype: object

In [41]:
pd.Series(fruits, weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [42]:
pd.Series(fruits, index = weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

# Import Series with read_csv Method