# PRACTICAL 3

In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame(np.random.rand(150).reshape(50,3), columns = ["A", "B", "C"])

df

           A         B         C
0   0.592659  0.306735  0.986626
1   0.322394  0.604937  0.432546
2   0.686382  0.894393  0.695093
3   0.554332  0.685150  0.954711
4   0.508779  0.772033  0.250894
5   0.894696  0.901198  0.921379
6   0.734080  0.365471  0.094587
7   0.413672  0.344409  0.804844
8   0.460830  0.527853  0.050615
9   0.469869  0.338001  0.584810
10  0.482268  0.374116  0.291669
11  0.441989  0.393128  0.861572
12  0.587217  0.607990  0.321417
13  0.102639  0.809783  0.769835
14  0.382173  0.865286  0.380719
15  0.086868  0.578896  0.674290
16  0.814796  0.084595  0.669805
17  0.621745  0.120434  0.042588
18  0.263559  0.424056  0.048543
19  0.539979  0.535435  0.418847
20  0.533695  0.843270  0.604962
21  0.969926  0.950349  0.046133
22  0.599867  0.638664  0.126332
23  0.942169  0.418692  0.114579
24  0.386531  0.984854  0.441656
25  0.946784  0.914574  0.868139
26  0.540394  0.636810  0.912290
27  0.134266  0.437407  0.645211
28  0.407372  0.049157  0.299291
29  0.162041  0.268364  0.238285
30  0.572672  0.943108  0.622736
31  0.460461  0.976246  0.499626
32  0.965250  0.299510  0.508146
33  0.784622  0.025368  0.108210
34  0.583274  0.132385  0.911977
35  0.739354  0.985073  0.635988
36  0.984803  0.603181  0.304728
37  0.331153  0.098412  0.473770
38  0.186298  0.579772  0.498960
39  0.923629  0.500780  0.415167
40  0.351983  0.604057  0.094119
41  0.406127  0.528091  0.353575
42  0.229209  0.694108  0.252094
43  0.989766  0.095393  0.120665
44  0.191654  0.590026  0.930322
45  0.424992  0.654705  0.264291
46  0.246229  0.459485  0.716124
47  0.709543  0.237077  0.314680
48  0.336998  0.017701  0.254952
49  0.852765  0.134263  0.461834

In [6]:
m = df.replace(np.random.randint(15), np.nan)
m

           A         B         C
0   0.592659  0.306735  0.986626
1   0.322394  0.604937  0.432546
2   0.686382  0.894393  0.695093
3   0.554332  0.685150  0.954711
4   0.508779  0.772033  0.250894
5   0.894696  0.901198  0.921379
6   0.734080  0.365471  0.094587
7   0.413672  0.344409  0.804844
8   0.460830  0.527853  0.050615
9   0.469869  0.338001  0.584810
10  0.482268  0.374116  0.291669
11  0.441989  0.393128  0.861572
12  0.587217  0.607990  0.321417
13  0.102639  0.809783  0.769835
14  0.382173  0.865286  0.380719
15  0.086868  0.578896  0.674290
16  0.814796  0.084595  0.669805
17  0.621745  0.120434  0.042588
18  0.263559  0.424056  0.048543
19  0.539979  0.535435  0.418847
20  0.533695  0.843270  0.604962
21  0.969926  0.950349  0.046133
22  0.599867  0.638664  0.126332
23  0.942169  0.418692  0.114579
24  0.386531  0.984854  0.441656
25  0.946784  0.914574  0.868139
26  0.540394  0.636810  0.912290
27  0.134266  0.437407  0.645211
28  0.407372  0.049157  0.299291
29  0.162041  0.268364  0.238285
30  0.572672  0.943108  0.622736
31  0.460461  0.976246  0.499626
32  0.965250  0.299510  0.508146
33  0.784622  0.025368  0.108210
34  0.583274  0.132385  0.911977
35  0.739354  0.985073  0.635988
36  0.984803  0.603181  0.304728
37  0.331153  0.098412  0.473770
38  0.186298  0.579772  0.498960
39  0.923629  0.500780  0.415167
40  0.351983  0.604057  0.094119
41  0.406127  0.528091  0.353575
42  0.229209  0.694108  0.252094
43  0.989766  0.095393  0.120665
44  0.191654  0.590026  0.930322
45  0.424992  0.654705  0.264291
46  0.246229  0.459485  0.716124
47  0.709543  0.237077  0.314680
48  0.336998  0.017701  0.254952
49  0.852765  0.134263  0.461834

In [7]:

while():
    randindex = np.random.randint(50)
    print(randindex)
    i =i + 1

In [8]:
nan_df = np.random.random(df.shape)<0.1
df_nan = df.mask(nan_df)
df_nan

           A         B         C
0   0.592659  0.306735  0.986626
1   0.322394  0.604937  0.432546
2   0.686382       NaN  0.695093
3   0.554332  0.685150  0.954711
4   0.508779  0.772033  0.250894
5   0.894696  0.901198  0.921379
6   0.734080  0.365471  0.094587
7   0.413672  0.344409  0.804844
8   0.460830       NaN  0.050615
9        NaN  0.338001       NaN
10  0.482268  0.374116  0.291669
11  0.441989       NaN  0.861572
12  0.587217  0.607990  0.321417
13  0.102639  0.809783       NaN
14  0.382173  0.865286  0.380719
15  0.086868  0.578896       NaN
16  0.814796  0.084595  0.669805
17  0.621745  0.120434  0.042588
18  0.263559  0.424056  0.048543
19  0.539979  0.535435  0.418847
20  0.533695  0.843270  0.604962
21  0.969926  0.950349  0.046133
22  0.599867  0.638664  0.126332
23  0.942169  0.418692  0.114579
24  0.386531  0.984854  0.441656
25  0.946784       NaN  0.868139
26  0.540394  0.636810  0.912290
27  0.134266  0.437407  0.645211
28  0.407372  0.049157  0.299291
29  0.162041  0.268364  0.238285
30       NaN  0.943108  0.622736
31  0.460461  0.976246  0.499626
32  0.965250  0.299510  0.508146
33  0.784622  0.025368       NaN
34  0.583274  0.132385  0.911977
35  0.739354  0.985073  0.635988
36  0.984803  0.603181  0.304728
37  0.331153  0.098412  0.473770
38  0.186298  0.579772  0.498960
39  0.923629  0.500780       NaN
40  0.351983  0.604057  0.094119
41  0.406127  0.528091  0.353575
42       NaN  0.694108  0.252094
43  0.989766  0.095393  0.120665
44  0.191654  0.590026  0.930322
45  0.424992  0.654705  0.264291
46  0.246229  0.459485  0.716124
47  0.709543  0.237077  0.314680
48  0.336998  0.017701  0.254952
49  0.852765  0.134263  0.461834

In [9]:
r1 = 50
c1 = 3
data = np.random.rand(r1, c1)
null_index = np.random.choice([True, False], size = (r1, c1), p = [0.10, 0.90])
data[null_index] = np.nan
df1 = pd.DataFrame(data)
print(df1)

           0         1         2
0   0.523245       NaN  0.228869
1   0.605422  0.169848  0.739317
2   0.384743  0.423427  0.605705
3   0.858271  0.392158  0.682747
4   0.388756  0.284788  0.020744
5   0.750480  0.830862  0.993259
6        NaN  0.553595       NaN
7   0.187921       NaN  0.084000
8   0.845984  0.357656  0.868449
9   0.633240  0.804182  0.664476
10  0.280398  0.075494  0.569113
11  0.432249  0.553300  0.681735
12  0.564350  0.789917  0.387069
13  0.932388  0.432740  0.909928
14  0.335842  0.462236  0.364794
15  0.879180  0.115192  0.375377
16  0.459195  0.549201  0.791268
17  0.072660  0.167812  0.685991
18       NaN  0.067137  0.796583
19       NaN  0.355353  0.850438
20       NaN  0.622260  0.198169
21  0.127508  0.883184  0.217481
22  0.343468  0.848882  0.658682
23  0.247831       NaN  0.225743
24  0.933625  0.240194  0.049636
25  0.815688  0.008244  0.368889
26  0.188402  0.927101  0.922555
27  0.071721  0.734498  0.047308
28       NaN  0.451132  0.355731
29  0.627939  0.187873  0.818621
30  0.321414  0.108557  0.279698
31  0.182437  0.356968  0.317613
32  0.426240       NaN  0.897177
33  0.161057  0.571172  0.074348
34  0.004703  0.362993  0.576082
35  0.359763  0.397221  0.915188
36  0.373359  0.250114  0.281527
37  0.238347  0.701499  0.421503
38       NaN  0.146329  0.433845
39       NaN  0.783833  0.083564
40  0.294807  0.214691  0.375325
41  0.746865  0.712529       NaN
42  0.969415  0.121951  0.609878
43  0.914714  0.993070  0.374782
44  0.758877  0.586493  0.319748
45       NaN  0.618388  0.161847
46  0.096488  0.796413  0.046096
47  0.375081  0.192378  0.842175
48       NaN  0.474361  0.893038
49  0.781664  0.730722  0.568999

In [10]:
df1.isnull().sum()

0    9
1    4
2    2
dtype: int64

In [12]:
df1.dropna(thresh = 5, axis = 1)

           0         1         2
0   0.523245       NaN  0.228869
1   0.605422  0.169848  0.739317
2   0.384743  0.423427  0.605705
3   0.858271  0.392158  0.682747
4   0.388756  0.284788  0.020744
5   0.750480  0.830862  0.993259
6        NaN  0.553595       NaN
7   0.187921       NaN  0.084000
8   0.845984  0.357656  0.868449
9   0.633240  0.804182  0.664476
10  0.280398  0.075494  0.569113
11  0.432249  0.553300  0.681735
12  0.564350  0.789917  0.387069
13  0.932388  0.432740  0.909928
14  0.335842  0.462236  0.364794
15  0.879180  0.115192  0.375377
16  0.459195  0.549201  0.791268
17  0.072660  0.167812  0.685991
18       NaN  0.067137  0.796583
19       NaN  0.355353  0.850438
20       NaN  0.622260  0.198169
21  0.127508  0.883184  0.217481
22  0.343468  0.848882  0.658682
23  0.247831       NaN  0.225743
24  0.933625  0.240194  0.049636
25  0.815688  0.008244  0.368889
26  0.188402  0.927101  0.922555
27  0.071721  0.734498  0.047308
28       NaN  0.451132  0.355731
29  0.627939  0.187873  0.818621
30  0.321414  0.108557  0.279698
31  0.182437  0.356968  0.317613
32  0.426240       NaN  0.897177
33  0.161057  0.571172  0.074348
34  0.004703  0.362993  0.576082
35  0.359763  0.397221  0.915188
36  0.373359  0.250114  0.281527
37  0.238347  0.701499  0.421503
38       NaN  0.146329  0.433845
39       NaN  0.783833  0.083564
40  0.294807  0.214691  0.375325
41  0.746865  0.712529       NaN
42  0.969415  0.121951  0.609878
43  0.914714  0.993070  0.374782
44  0.758877  0.586493  0.319748
45       NaN  0.618388  0.161847
46  0.096488  0.796413  0.046096
47  0.375081  0.192378  0.842175
48       NaN  0.474361  0.893038
49  0.781664  0.730722  0.568999

In [13]:
df1.sort_values(by = 0)

           0         1         2
34  0.004703  0.362993  0.576082
27  0.071721  0.734498  0.047308
17  0.072660  0.167812  0.685991
46  0.096488  0.796413  0.046096
21  0.127508  0.883184  0.217481
33  0.161057  0.571172  0.074348
31  0.182437  0.356968  0.317613
7   0.187921       NaN  0.084000
26  0.188402  0.927101  0.922555
37  0.238347  0.701499  0.421503
23  0.247831       NaN  0.225743
10  0.280398  0.075494  0.569113
40  0.294807  0.214691  0.375325
30  0.321414  0.108557  0.279698
14  0.335842  0.462236  0.364794
22  0.343468  0.848882  0.658682
35  0.359763  0.397221  0.915188
36  0.373359  0.250114  0.281527
47  0.375081  0.192378  0.842175
2   0.384743  0.423427  0.605705
4   0.388756  0.284788  0.020744
32  0.426240       NaN  0.897177
11  0.432249  0.553300  0.681735
16  0.459195  0.549201  0.791268
0   0.523245       NaN  0.228869
12  0.564350  0.789917  0.387069
1   0.605422  0.169848  0.739317
29  0.627939  0.187873  0.818621
9   0.633240  0.804182  0.664476
41  0.746865  0.712529       NaN
5   0.750480  0.830862  0.993259
44  0.758877  0.586493  0.319748
49  0.781664  0.730722  0.568999
25  0.815688  0.008244  0.368889
8   0.845984  0.357656  0.868449
3   0.858271  0.392158  0.682747
15  0.879180  0.115192  0.375377
43  0.914714  0.993070  0.374782
13  0.932388  0.432740  0.909928
24  0.933625  0.240194  0.049636
42  0.969415  0.121951  0.609878
6        NaN  0.553595       NaN
18       NaN  0.067137  0.796583
19       NaN  0.355353  0.850438
20       NaN  0.622260  0.198169
28       NaN  0.451132  0.355731
38       NaN  0.146329  0.433845
39       NaN  0.783833  0.083564
45       NaN  0.618388  0.161847
48       NaN  0.474361  0.893038

In [14]:
df1.drop_duplicates([0])

           0         1         2
0   0.523245       NaN  0.228869
1   0.605422  0.169848  0.739317
2   0.384743  0.423427  0.605705
3   0.858271  0.392158  0.682747
4   0.388756  0.284788  0.020744
5   0.750480  0.830862  0.993259
6        NaN  0.553595       NaN
7   0.187921       NaN  0.084000
8   0.845984  0.357656  0.868449
9   0.633240  0.804182  0.664476
10  0.280398  0.075494  0.569113
11  0.432249  0.553300  0.681735
12  0.564350  0.789917  0.387069
13  0.932388  0.432740  0.909928
14  0.335842  0.462236  0.364794
15  0.879180  0.115192  0.375377
16  0.459195  0.549201  0.791268
17  0.072660  0.167812  0.685991
21  0.127508  0.883184  0.217481
22  0.343468  0.848882  0.658682
23  0.247831       NaN  0.225743
24  0.933625  0.240194  0.049636
25  0.815688  0.008244  0.368889
26  0.188402  0.927101  0.922555
27  0.071721  0.734498  0.047308
29  0.627939  0.187873  0.818621
30  0.321414  0.108557  0.279698
31  0.182437  0.356968  0.317613
32  0.426240       NaN  0.897177
33  0.161057  0.571172  0.074348
34  0.004703  0.362993  0.576082
35  0.359763  0.397221  0.915188
36  0.373359  0.250114  0.281527
37  0.238347  0.701499  0.421503
40  0.294807  0.214691  0.375325
41  0.746865  0.712529       NaN
42  0.969415  0.121951  0.609878
43  0.914714  0.993070  0.374782
44  0.758877  0.586493  0.319748
46  0.096488  0.796413  0.046096
47  0.375081  0.192378  0.842175
49  0.781664  0.730722  0.568999

In [15]:
df1[0].corr(df1[1])

-0.11396054048539732

In [16]:
df1[1].cov(df1[2])

-0.009271597553437181

In [18]:
def removeOutliers(df, column_name):
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 *IQR
    upper_bound = Q3 + 1.5 * IQR
    df_filtered = df[(df[column_name] >= lower_bound) & (df[column_name] <= upper_bound)]
    
    return df_filtered

df1_cleaned = removeOutliers(df1, 0)
df1_cleaned

           0         1         2
0   0.523245       NaN  0.228869
1   0.605422  0.169848  0.739317
2   0.384743  0.423427  0.605705
3   0.858271  0.392158  0.682747
4   0.388756  0.284788  0.020744
5   0.750480  0.830862  0.993259
7   0.187921       NaN  0.084000
8   0.845984  0.357656  0.868449
9   0.633240  0.804182  0.664476
10  0.280398  0.075494  0.569113
11  0.432249  0.553300  0.681735
12  0.564350  0.789917  0.387069
13  0.932388  0.432740  0.909928
14  0.335842  0.462236  0.364794
15  0.879180  0.115192  0.375377
16  0.459195  0.549201  0.791268
17  0.072660  0.167812  0.685991
21  0.127508  0.883184  0.217481
22  0.343468  0.848882  0.658682
23  0.247831       NaN  0.225743
24  0.933625  0.240194  0.049636
25  0.815688  0.008244  0.368889
26  0.188402  0.927101  0.922555
27  0.071721  0.734498  0.047308
29  0.627939  0.187873  0.818621
30  0.321414  0.108557  0.279698
31  0.182437  0.356968  0.317613
32  0.426240       NaN  0.897177
33  0.161057  0.571172  0.074348
34  0.004703  0.362993  0.576082
35  0.359763  0.397221  0.915188
36  0.373359  0.250114  0.281527
37  0.238347  0.701499  0.421503
40  0.294807  0.214691  0.375325
41  0.746865  0.712529       NaN
42  0.969415  0.121951  0.609878
43  0.914714  0.993070  0.374782
44  0.758877  0.586493  0.319748
46  0.096488  0.796413  0.046096
47  0.375081  0.192378  0.842175
49  0.781664  0.730722  0.568999

In [19]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1.0]
df1_bins = pd.cut(df1[1], bins)
df1_bins

0            NaN
1     (0.0, 0.2]
2     (0.4, 0.6]
3     (0.2, 0.4]
4     (0.2, 0.4]
5     (0.8, 1.0]
6     (0.4, 0.6]
7            NaN
8     (0.2, 0.4]
9     (0.8, 1.0]
10    (0.0, 0.2]
11    (0.4, 0.6]
12    (0.6, 0.8]
13    (0.4, 0.6]
14    (0.4, 0.6]
15    (0.0, 0.2]
16    (0.4, 0.6]
17    (0.0, 0.2]
18    (0.0, 0.2]
19    (0.2, 0.4]
20    (0.6, 0.8]
21    (0.8, 1.0]
22    (0.8, 1.0]
23           NaN
24    (0.2, 0.4]
25    (0.0, 0.2]
26    (0.8, 1.0]
27    (0.6, 0.8]
28    (0.4, 0.6]
29    (0.0, 0.2]
30    (0.0, 0.2]
31    (0.2, 0.4]
32           NaN
33    (0.4, 0.6]
34    (0.2, 0.4]
35    (0.2, 0.4]
36    (0.2, 0.4]
37    (0.6, 0.8]
38    (0.0, 0.2]
39    (0.6, 0.8]
40    (0.2, 0.4]
41    (0.6, 0.8]
42    (0.0, 0.2]
43    (0.8, 1.0]
44    (0.4, 0.6]
45    (0.6, 0.8]
46    (0.6, 0.8]
47    (0.0, 0.2]
48    (0.4, 0.6]
49    (0.6, 0.8]
Name: 1, dtype: category
Categories (5, interval[float64, right]): [(0.0, 0.2] < (0.2, 0.4] < (0.4, 0.6] < (0.6, 0.8] < (0.8, 1.0]]